<!-- templates/registration/signup.html -->
{% extends 'base.html' %}

{% block title %}Зарегистрироваться{% endblock %}



{% block head %}
{% endblock head %}
{% load crispy_forms_tags %}

{% block content %}


<form method="post">
  {% csrf_token %}
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Поздравляем, вы зарегестрировались!</h4>
      <h6> Можете указать класс, чтобы учителю было удобнее начислять вам баллы</h6 >
          <input type="text" maxlength="3" class="form-control" id="class" placeholder="Ваш класс. Например: 10Б" autofocus>
          <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Далее</button>
      </div>
  </div>
</form>
{% endblock content %}