<!-- templates/registration/signup.html -->
{% extends 'base.html' %}

{% block title %}{{user.username}}{% endblock %}

{% block head %}
{% endblock head %}
{% load crispy_forms_tags %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <style> .account-img {
            max-width: 200px;
            height: auto;
            }
            </style>
        </div>
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <p class="text-secondary">ID: {{ user.id }}</p>
          <p><a href="{% url 'logout' %}">Выйти</a></p>
        </div>
        
    {% if not user.is_active %}
        

      <div class="content-section">
        <h1>Погоди!</h1>
      </div>
    {% endif %}

        {% load has_group %} 
        {% if user|has_group:"Teacher" %}

        <h2>Вы вошли как учитель</h2>

        {% endif %}
  <!-- if not logged in -->
  {% else %}
    <div class="content-section">
      <p>Вы не авторизированы</p>
      <p><a href="{% url 'login' %}">Войти</a></p>
    </div>
  {% endif %}

{% endblock content %}