<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}Забыли пароль{% endblock %}
{% load crispy_forms_tags %}

{% block main %}
{% endblock %}


{% block content %}
  <h1>Восстановление пароля</h1>
  <p>Забыли пароль?	Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Отправить ссылку на восстановление">
  </form>
<p><p><a href="{% url 'home' %}">Вернуться</a></p>
{% endblock %}